.container {
  padding: 10px 0px;
  border-bottom: 1px solid #e1e5e9;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: var(--header-z-index);
  background-color: #fff;
}

.container .logo {
  width: var(--sidebar-width);
}

.container .page-title {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.25rem;
  display: flex;
}

@media screen and (min-width: 768px) {
  .container .page-title {
    padding: 0px 0.5rem 0px 3rem !important;
  }
}

.container .page-title a {
  color: #3b82f6;
}

.container .page-title a:hover {
  color: var(--app-blue);
}

.menu-btn {
  cursor: pointer;
}