.container {
}

.user-list li {
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
}

.user-list li:hover {
  /* color: var(--app-blue); */
}

.table-title {
  font-size: 0.95rem;
  color: #6b7290;
  font-weight: 500;
}
