.container {
}

.page-content {
  width: 100%;
  margin-top: 35px;
}

@media screen and (min-width: 768px) {
  .page-content {
    width: 100%;
    margin-top: 35px;
    padding: 0px 0.5rem 0px 1.5rem;
  }
}
